body{
    margin: 0;
    padding: 0;
    font-family: Arial;
    color: #373737;
    background-color: #f4f4f4;
}
#navigation{
    margin: 0;
    padding: 0;
    width: 100%;
    float: right;
    list-style: none;
    position: relative;
    background: #fff;
}
#navigation > li{
    display: inline-block;
    float: left;
    line-height: 50px;
    border-right: 1px solid rgba(0, 0, 0, .1);
}
#navigation > li > a{
    display: block;
    padding: 0 10px 0 10px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(0, 0, 0, .75);
    border-bottom: 2px solid transparent;
}
#navigation > li > a:focus,
#navigation > li > a:hover{
    outline: none;
    color: #c0b283;
    /* background-color: #dcd0c079; */
    border-bottom: 2px solid #c0b283;
    transition: border-bottom .2s ease;
}
.active{
    color: #c0b283;
    background-color: #dcd0c079;
    border-bottom: 2px solid #c0b283;
}
#navigation > li > a > i{
    vertical-align: middle !important;
    padding-right: 5px !important;
    padding-bottom: 5px !important;
}
#main{
    margin: 0 auto;
    width: 90vw;
    padding-top: 36px;
}
.important{
    color: red;
    font-size: 18px;
}
.announcement{
    list-style: none;
}
.announcement > li{
    padding-top: 12px;
}